/* _content/Blazor.Component/Component1.razor.rz.scp.css */
.my-component[b-p3fl9hn1mn] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
