<div class="section-fluid-main">
	<div class="section-row">
		<div class="section-col">
			<div class="section">
				<div class="section-in">
					<img src="https://assets.codepen.io/1462889/sl1.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="hover-text">
			<h2>Male Goofy Face</h2>
		</div>
		<div class="section-col">
			<div class="section">
				<div class="section-in">
					<img src="https://assets.codepen.io/1462889/sl2.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="hover-text">
			<h2>Toy Pig</h2>
		</div>
		<div class="section-col">
			<div class="section">
				<div class="section-in">
					<img src="https://assets.codepen.io/1462889/sl3.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="hover-text">
			<h2>Shy Portrait</h2>
		</div>
		<div class="section-col">
			<div class="section">
				<div class="section-in">
					<img src="https://assets.codepen.io/1462889/sl4.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="hover-text">
			<h2>Skateboard Face</h2>
		</div>
		<div class="section-col">
			<div class="section">
				<div class="section-in">
					<img src="https://assets.codepen.io/1462889/sl5.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="hover-text">
			<h2>Mirror Reflection</h2>
		</div>
		<div class="section-col">
			<div class="section">
				<div class="section-in">
					<img src="https://assets.codepen.io/1462889/sl6.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="hover-text">
			<h2>Funny Bunny</h2>
		</div>
	</div>

	<a href="https://front.codes/" class="logo" target="_blank">
		<img src="https://assets.codepen.io/1462889/fcy.png" alt="">
	</a>
</div>