<div class="hub-hover-card" style="background-image: url(@BackgroundImageUrl)">
    <div class="content">
        <h2 class="title">@Title</h2>
        <p class="description">@Description</p>
        @if (!string.IsNullOrWhiteSpace(ButtonLink))
        {
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="@ButtonLink" Target="_blank" Class="mt-2 p-2">@ButtonText</MudButton>
        }
    </div>
</div>