@page "/"

<MudContainer>

    <MudGrid Justify="Justify.Center" >

        <MudItem xs="12" sm="12" md="12">
            <div class="d-flex justify-center">
                <MudIcon Icon="@CustomIcon.ViweNkepu" Color="Color.Primary" Size="Size.Large" ViewBox="0 0 362.5 213" Style="width: 380px; height: 250px;" />
            </div>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h5">Hi, I'm Viwe Nkepu.</MudText>
            <MudText Align="Align.Center" Typo="Typo.body2">Welcome to my playground. Please explore and stay tuned for more!</MudText>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">

            <MudHidden Breakpoint="Breakpoint.MdAndUp">
                <MudStack>

                    <HomePageCards />

                </MudStack>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.SmAndDown">
                <MudStack Justify=Justify.Center Row="true">

                    <HomePageCards />

                </MudStack>
            </MudHidden>

        </MudItem>

    </MudGrid>

</MudContainer>
