@using Blazor.Component.Page.Home.Component

<MudItem xs="12" sm="12" md="12">
    
    <section id="@BlazorPage.Documentation.Swagger" class="section-padding">
        <SwaggerProjectSection/>
    </section>

    <section id="@BlazorPage.Documentation.GraphQl" class="section-padding">
        <GrapQlProjectSection/>
    </section>

    <section id="@BlazorPage.Observability.OpenTelemetry" class="section-padding">
        <OpenTelemetryProjectSection/>
    </section>

    <section id="@BlazorPage.Observability.HealthCheck" class="section-padding">
        <HealthCheckProjectSection/>
    </section>

</MudItem>