# This is a basic workflow to help you get started with Actions

name: .NET Publish Blazor

# Controls when the workflow will run
on:
  # Triggers the workflow on push events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  blazor-workflow:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Configure Node
      - name: Set up NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: latest

      - name: Install modules
        working-directory: ./npm
        run: npm install

      - name: Run Webpack
        working-directory: ./npm
        run: npm run build

      # Configure NET
      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: .NET Restore
        run: dotnet restore src

      - name: .NET Build
        run: dotnet build src --configuration Release

      - name: .NET Publish
        run: dotnet publish src/Blazor/Blazor.csproj -c:Release -p:GHPages=true -o published/blazor --nologo
        
      # replace the endpoint value in app-settings.json
      - name: Change the endpoint values in app-settings.json
        env:
          GATEWAY_URL: ${{ secrets.GATEWAY_API_ENDPOINT }}
          SEQ_URL: ""
          JAEGER_URL: ""
          GRAFANA_URL: ""
        run: |
          FILE_PATH="published/blazor/wwwroot/appsettings.json"
          
          sed -i "s|<gateway-api-endpoint>|$GATEWAY_URL|g" "$FILE_PATH"
          sed -i "s|<seq-ui-endpoint>|$SEQ_URL|g" "$FILE_PATH"
          sed -i "s|<jaeger-ui-endpoint>|$JAEGER_URL|g" "$FILE_PATH"
          sed -i "s|<grafana-dashboard-endpoint>|$GRAFANA_URL|g" "$FILE_PATH"

      # changes the base-tag in index.html from '/' to 'blazor' to match GitHub Pages repository subdirectory
      - name: Change base-tag in index.html from / to blazor
        run: sed -i 's/<base href="\/" \/>/<base href="\/blazor\/" \/>/g' published/blazor/wwwroot/index.html

      # add .nojekyll file to tell GitHub pages to not treat this as a Jekyll project. (Allow files and folders starting with an underscore)
      - name: Add .nojekyll file
        run: touch published/blazor/wwwroot/.nojekyll

      # copy index.html to 404.html to serve the same file when a file is not found
      - name: copy index.html to 404.html
        run: cp published/blazor/wwwroot/index.html published/blazor/wwwroot/404.html

      # Publish static files to GitHub pages
      - name: Commit wwwroot to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: published/blazor/wwwroot
